*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}
body{
background-color: black;
}
.text1{
    border: 2px solid white;
    border-radius: 4rem!important;
    padding: 20px;
}
.btn{
    border-radius: 2.5rem!important; 
}
.built{
    border: 2px solid orange;
    border-radius: 2rem!important;
}
h1 span{
    color: #fdc213;
}
 h4 span{
    color: #fdc213;
    
}
.icon2{
    margin-top: 200px;
 }
 .icon1{
     margin-top: 170px;
 }
 
 .vdo{
     width:100%;
     position: absolute;
 }
 .some{
     height: 200px;
 }
